<!-- BODY CLASS = INSIDE-->

        {{>navbar username=navUser}}
        
        <div class="d-flex flex-column content">
    

            <div class="card profile-container">
                <div class="d-flex flex-row card-body profile-row">
                    <div class="full-width-container profile-col1">
                        <img class="img-fluid" id="account-profile-picture" src="{{profilepic}}" class="img-fluid">
                    </div>

                    <div class="profile-col2">
                        <div class="d-flex flex-row justify-content-between profile-col2_row1">
                            <div class="profile-col2_row1a">
                                <h2 id="accountname">{{firstname}} {{lastname}}</h2>
                                <p id="accountusername">@{{username}}</p>
                            </div>


                        </div>

                        <div class="profile-col2_row2">
                            <p align="justify" id="accountbio"> 
                              {{bio}}   
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {{#if posts}}
            {{#each posts}}
            <div class="card post_preview-container">
              <div class="full-width-container post_preview-row0">
                <img  src="../{{recipe_picture}}" class="img-fluid" id="recipe-user" alt="Card image cap">
              </div>
  
              <div class="d-flex flex-column card-body post_preview-below_image">
                <div class="d-flex flex-column post_preview-row1">
                  <h3 class="card-title">{{title}}</h3>
                  <p class="card-subtitle"><span class="badge badge-light">By {{user.firstname}} {{user.lastname}}| @{{user.username}}</span></p>
                </div>
  
                <div class="d-flex flex-column post_preview-row2">
                  <p class="card-text" id="{{description}}"> </p> 
                  <br>
                  <a class="stretched-link" href="../recipe-post/{{_id}}">Continue reading...</a>
                </div>
  
                <div class="d-flex justify-content-between flex-wrap post_preview-row3">
                  <p class="card-text" id="upvotes"><small class="text-muted">{{upvotes}} UPVOTES</small></p>
                  <p class="card-text" id="date"><small class="text-muted">{{dateposted}} {{timeposted}}</small></p>
                </div>
  
            </div>
            {{/each}}
            {{else}}
            <h4 class="text-muted">Its empty over here</h4>
            {{/if}}
            
            
            

            
            
            
            <button type="button" class="btn btn-outline-success btn-lg btn-block" id="edit_account-btn">Edit Account</button>
            <button type="button" class="btn btn-outline-danger btn-lg btn-block" id="delete_account-btn" data-toggle="modal" data-target="#delete_account-modal">Delete Account</button>

            <!-- Modal -->
            <div class="modal fade" id="delete_account-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog" style="margin-top: 60px;" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Delete My Account</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            Deleting your account will permanently deactivate your profile and delete all your activity within the application. This cannot be undone. <br>
                            Are you sure you want to delete your account?
                        </div>
                        
                        <div class="modal-footer">
                        <a id="deleteAccount" class="btn btn-danger" data-id={{_id}}>Delete Account</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                        
                    </div> 
                </div>        
            </div>

        </div>

        