<!-- BODY CLASS = "TEXT-CENTER OUTSIDE"-->

        <div class="parent overflow-auto">
            <div class="container1 overflow-auto">
                <form action="/addAccount" method="POST">
                    <div class="form-row" style="padding-bottom: 10px;">
                        <h3>Create an account<small class="text-muted"> and join the fun now!</small></h3>
                    </div>
                    
                    <div class="form-row" style="padding-bottom: 10px;">
                            <label for="email">Email Address</label>
                            <input type="text" class="form-control" name ="EMAIL" id="email" placeholder="e.g. fpj@yawa.com">
                            <p id ="emailError" name="EMAILError" class="error">{{EMAILError}}</p>
                            <label id="validEmail"class="invalid-feedback warning2"></label>
                    </div>

                    <div class="form-row" style="padding-bottom: 10px;">
                            <label for="validationCustom01">First name</label>
                            <input type="text" class="form-control" name="FIRSTNAME" id="firstname" placeholder="e.g. Cardo" >
                            <p id ="firstnameError" name="FIRSTNAMEError" class="error">{{FIRSTNAMEError}}</p>
                            <label id="validFirst" class="valid-feedback warning2"></label>
                    </div>

                    <div class="form-row" style="padding-bottom: 10px;">
                            <label for="lastName">Last name</label>
                            <input type="text" class="form-control" name="LASTNAME" id="lastname" placeholder="e.g. Dalisay" >
                            <p id ="lastnameError" name="LASTNAMEError" class="error">{{LASTNAMEError}}</p>
                            <label id="validLast"class="invalid-feedback warning2"></label>
                    </div>

                    <div class="form-row" style="padding-bottom: 10px;">
                            <label for="userName">Username</label>
                            <input type="text" class="form-control" name="USERNAME" id="username" placeholder="e.g. The Next 15 Years" >
                            <p id ="usernameError" name="USERNAMEError" class="error">{{USERNAMEError}}</p>
                            <label id="validUser"class="warning2"></label>
                    </div>

                    <div class="form-row" style="padding-bottom: 10px;">
                            <label for="password">Password</label>
                            
                            <input type="password" class="form-control" name="PASSWORD" id="password" placeholder="" >
                            
                            <p id ="passwordnameError" name="PASSWORDError" class="error">{{PASSWORDError}}</p>

                            <label id="validPass"class="warning2"></label>
                    </div>

                    <div class="form-row" style="padding-bottom: 10px;">
                            <label for="profilePic">Choose a Profile Picture</label>
                            <input type="file" class="form-control-file" accept="image/*" name="PROFILEPIC" id="profilepic">  
                    </div>
                    <div class="form-row" id="previewContainer">
                        <img class="preview" id="previewPic">
                    </div>    
                    <div class="form-row" style="padding-bottom: 10px;">
                            <label for="bio"><br>Short Bio</label>
                            <textarea class="form-control" name="BIO" id="bio" rows="3"></textarea>
                            <small id="assure" class="form-text text-muted">
                                Don't worry you can leave this blank :^)                                                                                                                                                                                                                                                                                                                            
                            </small>
                    </div>
                    <br>
                    <button type="submit" id="createAccount" class="btn btn-lg btn-primary btn-block">Register Now</button>
                        
                </form>
            </div>
        </div>